.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(51,56,102, 0.5);
}

.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242424;
    min-width: 50%;
    padding: 1rem;
    border-radius: .5rem;
}